#built-by {
	padding: 20px 0 10px;
	background: $athens-gray;
	background-image: url($path--rel + 'team-bg.jpg');
	background-position: center center;
	background-repeat: no-repeat;

	h2 {
		margin: 10px 0;
	}
	.row{
		display: flex;
		justify-content: center;
	}
	.bio {
		max-width: 360px;
		img{
			min-width: 125px;
			max-width: 200px;
			width: 14.5vw;
		}
		h3 {
			color: $mako;
			font-size: 1.5em;
		}
		&.left {
			padding: 15px 35px 15px 0;
			margin-left: 4px;
			float: right;
		}
		&.right {
			padding: 15px 0;
			float: left;
		}

	}
}

.supporter {
	h3 {
		color: $mako;
	}
}