footer {
	min-height: 135px;
	padding-top: 20px;
	border-bottom: 3px solid lighten($shark,10%);
	p {
		color: $iron;
	}
	.status {
		margin-top: 10px;
		p {
			padding-left: 60px;
			font-size: 0.95em;
			line-height: 1.4em;
		}
	}
	.social-wrap {
		text-align: center;
		img {
			width: 32px;
			margin: 0 auto;
		}
		h3 {
			margin: 0;
			color: $athens-gray;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
		}
		.social-icon {
			padding: 20px 5px;
			&.left {
				float: right;
			}
			&.right {
				float: left;
			}
		}
		
	}
}