footer {
	min-height: 135px;
	padding: 20px 0;
	border-bottom: 3px solid lighten($shark,10%);
	p {
		color: $iron;
	}
	.status {
		margin-top: 10px;
		p {
			margin-left: 8vw;
			font-size: 0.95em;
			line-height: 1.4em;
		}
	}
	.form-container {
    display: flex;
    align-items: stretch;
    flex-direction: row;
		form {
			-webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
			page-break-inside: avoid; /* Firefox */
			break-inside: avoid; /* IE 10+ */
			display: flex;
			justify-content: space-between;

			button{
				margin-left: 25px;
			}
		}
	}
	.social-wrap {
		text-align: center;
		display: flex;
    flex-direction: row;
    justify-content: space-around;

		img {
			width: 32px;
			margin: 0 auto;
		}
		h3 {
			margin: 0;
			color: $athens-gray;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 1px;
			font-size: 14px;
		}
		.social-icon {
			padding: 20px 5px;
			&.left {
				float: right;
			}
			&.right {
				float: left;
			}
		}

	}
}
