nav {
	width: 100%;
	background-color: $white;
	position: absolute;
	text-align: center;
	top: -75px;
	left: 0;
	height: 75px;
	transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
	overflow-y: hidden;
	visibility: hidden;	
	overflow: hidden;
	box-sizing: border-box;



	&.affix {
		position: fixed;
		top: 0;
		z-index: 20;
		transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
		visibility: visible;
		padding:5em;
		margin-top: -75px;
	}

	.logo {
		img {
			width: 50px;
			display: inline-block;
			margin-top: 15px;
			margin-bottom: -14px;
		}
		h1 {
			display: inline-block;
			color: $oslo-gray;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
			margin-left: 15px;
		}
	}
	.plugin-link {
		a.cta {
			font-size: 18px;
		}
		padding-top: 25px;
	}

}