nav {
	width: 100%;
	background-color: $white;
	position: absolute;
	bottom: 0;
	text-align: center;
	height: 0;
	visibility: hidden;

	&.affix {
		position: fixed;
		top: 0;
		height: 75px;
		z-index: 20;
		visibility: visible;
	}

	.logo {
		img {
			width: 50px;
			display: inline-block;
			margin-top: 15px;
			margin-bottom: -14px;
		}
		h1 {
			display: inline-block;
			color: $oslo-gray;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 18px;
			margin-left: 15px;
		}
	}
	.plugin-link {
		a.cta {
			font-size: 18px;
		}
		padding-top: 25px;
	}

}