#support {
	margin-bottom: 40px;
  overflow-x: hidden;

	img {
		width: 24vw;
		min-width: 95px;
		max-width: 122px;

	}
	h2 {
		text-transform: uppercase;
		color: $abbey;
		font-weight: 600;
		font-size: 26px;
		margin-bottom: 40px;
	}
	.row	{
		display: flex;
		justify-content: center;
		align-items: center;

	}
	.supporter {
		&.left {
			float: right;
		}
		&.right {
			float: left;
		}
	}
}


