#supported-dapps {
  background: white;
  overflow-x: hidden;

  .container {
    padding-bottom: 20px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 37px;
    }
  }

  .flex-row {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
  }

  div.dapp-item {
    width: 115px;
    height: 105px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      height: 70px;
    }
  }
}
